@use '../../css/common.scss' as *;

.app-layout {
    display: flex;
    flex-direction: column;
    height: $height100;
    /* 确保全屏展示 */


    .app-content {
        flex: 1;
        display: flex;
        overflow: hidden;
        position: relative;

        .app-main {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;


            .render-content {
                flex: 1;
                overflow: auto;
                background-color: $public-color1;
                margin: $margin-16;
                border-radius: $border-8;
                background-color: $primary-color4;
            }

            .app-footer {
                background-color: blue;
                height: 48px;
            }
        }


        .app-menu {
            height: $height100;
        }

        .isMobile {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
        }
    }
}